{% extends 'base.html.twig' %}

{% block navbar %}
    <div>TOTO</div>
{% endblock %}

{% block content %}
    {% if name is defined %}
        <p id="{{ name }}" class="{{ name }}">{{ name }}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/contact.js') }}"></script>
{% endblock %}
