<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block header %}
            {% include 'components/header.html.twig' %}
        {% endblock %}

        {% block navbar %}
            {% include 'components/navbar.html.twig' %}
        {% endblock %}

        {% block main %}
            {% block sidebar %}
                {% include 'components/sidebar.html.twig' %}
            {% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% block footer %}
            {% include 'components/footer.html.twig' %}
        {% endblock %}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
